<div class="row">
  <div class="col-sm-6" *ngIf="alunoSeleciona">
    <app-titulo
      [titulo]="
        alunoSeleciona.id !== 0
          ? 'Cód.aluno ' + alunoSeleciona.id
          : 'Novo aluno'
      "
    >
      <button class="btn btn-sm btn-outline-danger" (click)="voltar()">
        Fechar
      </button>
    </app-titulo>

    <form [formGroup]="alunoForm" (submit)="alunoSubmit()">
      <div class="form-group">
        <label for="formGroupExampleInput">Nome</label>
        <input type="text" formControlName="nome" class="form-control" />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Sobrenome</label>
        <input type="text" formControlName="sobreNome" class="form-control" />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Telefone</label>
        <input type="text" formControlName="telefone" class="form-control" />
      </div>
      <div class="form-group">
        <button class="btn btn-success" [disabled]="!alunoForm.valid">
          Enviar
        </button>
      </div>
    </form>
  </div>

  <div [ngClass]="{ 'col-sm-6': alunoSeleciona, 'col-sm-12': !alunoSeleciona }">
    <app-titulo [titulo]="titulo" *ngIf="!alunoSeleciona">
      <button class="btn btn-sm btn-outline-success" (click)="alunoNovo()">
        Cadastrar aluno
      </button>
    </app-titulo>

    <div class="d-flex justify-content-center" *ngIf="loadAlunos">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <table class="table table-hover" *ngIf="!loadAlunos">
      <thead class="thead-light">
        <tr>
          <th scope="col">Visualizar</th>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">SobreNome</th>
          <th scope="col">Telefone</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aluno of alunos">
          <td>
            <button
              (click)="alunoSelecionado(aluno)"
              class="btn btn-sm btn-outline-warning"
            >
              Detalhe
            </button>
          </td>
          <td scope="row">{{ aluno.id }}</td>
          <td>{{ aluno.nome }}</td>
          <td>{{ aluno.sobreNome }}</td>
          <td>{{ aluno.telefone }}</td>
          <td>
            <div class="btn-group">
              <button
                (click)="openModal(template)"
                class="btn btn-sm btn-outline-primary"
              >
                Professor
              </button>
              <button
                class="btn btn-sm btn-outline-danger"
                (click)="deletarAluno(aluno.id)"
              >
                Deletar
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #template>
  <div class="modal-body">
    <app-professores></app-professores>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <h4>FECHAR</h4>
    </button>
  </div>
</ng-template>
