<div class="row">
  <div class="col-sm-6" *ngIf="professorSeleciona">
    <app-titulo [titulo]="professorSeleciona.id === 0 ? 'Novo professor' : 'Cód.prof ' + professorSeleciona.id">
        <button class="btn btn-outline-danger" (click)="voltar()">
          Fechar
        </button>
    </app-titulo>

    <form [formGroup]="professorForm" (submit)="profSubmit()">
      <div class="form-group">
        <label for="formGroupExampleInput">Nome</label>
        <input type="text" formControlName="nome" class="form-control" />
      </div>
      <!-- <div class="form-group">
        <label for="formGroupExampleInput2">Disciplina</label>
        <input type="text" formControlName="disciplina" class="form-control" />
      </div> -->
      <div class="form-group">
        <button class="btn btn-success" [disabled]="!professorForm.valid">
          Enviar
        </button>
      </div>
    </form>
  </div>

  <div
    [ngClass]="{
      'col-sm-6': professorSeleciona,
      'col-sm-12': !professorSeleciona
    }"
  >
    <app-titulo [titulo]="titulo" *ngIf="!professorSeleciona">
      <button class="btn btn-outline-success" (click)="professorNovo()">
        Cadastrar professor
      </button>
    </app-titulo>

    <div class="d-flex justify-content-center" *ngIf="loadProfs">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <table class="table table-hover" *ngIf="!loadProfs">
      <thead class="thead-light">
        <tr>
          <th>Visualizar</th>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Disciplica</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prof of professores">
          <td>
            <button
              (click)="profSelecionado(prof)"
              class="btn btn-sm btn-outline-warning"
            >
              Detalhe
            </button>
          </td>
          <td scope="row">{{ prof.id }}</td>
          <td>{{ prof.nome }}</td>
          <td>{{ prof.disciplina }}</td>
          <td>
            <div class="btn-group">
              <button
                (click)="openModal(template)"
                class="btn btn-outline-primary"
              >
                alunos
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #template>
  <div class="modal-body">
    <app-alunos></app-alunos>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <h4>FECHAR</h4>
    </button>
  </div>
</ng-template>
