<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/dashbord" routerLinkActive="active">Smart school</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [collapse]="isCollapsed" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/alunos" class="nav-link">Aluno</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/professores" class="nav-link">Professores</a>
                </li>
            </ul>
            <ul class="navbar-nav" dropdown>
                <li class="nav-item dropdown">
                    <a id="button-basic" dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        style="cursor: pointer;">
                        Gabriel
                    </a>
                    <div id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                        aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" routerLink="/perfis">Perfil</a>
                        <a class="dropdown-item" href="#">Sair</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>